/* 
    Author     : merve
*/
#table2{
    width:70%;
    height: 70%;
    margin:auto;
    position: relative;
    font-size: large; 
    /*border-spacing: 50px;*/
    border-collapse: collapse;
}

#table2, th, td{
    border: 1px solid #c7ced8;
    font-family: sans-serif;
}

#table2 th{
    height: 100px;
    padding: 15px;
    font-size: larger;
}

#table2 td{
    height: 35px;
    padding: 15px;
}

#table2 tr:hover {
    background-color: #f2f2f2;
}

#table2 tr:nth-child(even) {
    background-color: #dfeff6;
}

#title{
    font-size: xx-large;
    text-align: center;
    padding: 50px;
}

