/* 
    Author     : merve
*/
#logo{
    margin-top: 100px;
}

#login-form{
    width:100%;
    margin-top: 100px;
    position: absolute;

}

#tbl{
    width:30%;
    margin:auto;
    position: relative;
    font-size: xx-large;   
    border-collapse: collapse;
}

.input_box_large{
    height: 40px;
    width: 300px;
}

#submit{
    height: 3em;
    width: 9em;
    font-size: large;    
}

p{
    font-family: "Sans Serif";
}

